<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.g3.mapper.adProductMapper"/>

<!-- 	<insert id="AddProduct"> -->
<!-- 		insert into product(p_num, p_name, p_category, p_option, p_price, p_amount, p_image, best, p_date, ship_date, p_return_fee)  -->
<!-- 		values(#{p_num}, #{p_name}, #{p_category}, #{p_option}, #{p_price}, #{p_amount}, #{p_image}, #{best}, #{p_date}, #{ship_date}, #{p_return_fee}) -->
<!-- 	</insert> -->